.main-cont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.calc-container {
  background-color: #edebeb;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: auto;
  border: 1px solid #858693;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  gap: 1px;
}

.last-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column: 1 / span 2;
  gap: 1px;
}
