.cont-loader-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 80%;
  font-size: 1.65em;
  background-color: #ec913f30;
  border-radius: 25px;
}

.p-quote {
  font-weight: 400;
  font-style: italic;
  text-align: justify;
}

.p-author {
  text-align: end;
  margin-top: 1.25em;
  font-size: 1.5rem;
}
